*.swp
libcsnet/list

*/*.swp
*/.objs
*/*.a
*/*.so

*/*/*.swp
*/*/.objs
*/*/*
!*/*/*.sh
!*/*/*.h
!*/*/*.c
!*/*/makefile
!*/*/Makefile
*/*/*.a
*/*/*.so

*/*/*/*.swp
*/*/*/.objs
*/*/*/*.a
*/*/*/*.so

doc
doc/*
